[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/sp1-helios"]
	path = lib/sp1-helios
	url = https://github.com/succinctlabs/sp1-helios
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/eigenlayer-middleware"]
	path = lib/eigenlayer-middleware
	url = https://github.com/BreadchainCoop/eigenlayer-middleware
	branch = on-chain-check-signatures
