# Mainnet
#DELEGATION_MANAGER_ADDRESS=0x39053D51B77DC0d36036Fc1fCc8Cb819df8Ef37A
# Holesky 
#DELEGATION_MANAGER_ADDRESS=0xA44151489861Fe9e3055d95adC98FbD462B948e7
# Mainnet
#STRATEGY_MANAGER_ADDRESS=0x858646372CC42E1A627fcE94aa7A7033e7CF075A
# Holesky 
#STRATEGY_MANAGER_ADDRESS=0xdfB5f6CE42aAA7830E94ECFCcAd411beF4d4D5b6
# Holesky stETH 
#LST_CONTRACT_ADDRESS=0x3F1c547b21f65e10480dE3ad8E19fAAC46C95034
# Mainnet stETH
#LST_CONTRACT_ADDRESS=0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84
# Holesky stETH strategy 
#LST_STRATEGY_ADDRESS=0x7D704507b76571a51d9caE8AdDAbBFd0ba0e63d3
# Mainnet stETH strategy 
#LST_STRATEGY_ADDRESS=0x93c4b944D05dfe6df7645A86cd2206016c51564D
# Holesky
#REGISTRY_COORDINATOR_ADDRESS=0x3e43AA225b5cB026C5E8a53f62572b10D526a50B
# Mainnet
#REGISTRY_COORDINATOR_ADDRESS=0xeCd099fA5048c3738a5544347D8cBc8076E76494
# Mainnet
# BLS_SIGNATURE_CHECKER_ADDRESS=0xb7ba8bbc36AA5684fC44D02aD666dF8E23BEEbF8
# Holesky
# BLS_SIGNATURE_CHECKER_ADDRESS=0xca249215e082e17c12bb3c4881839a3f883e5c6b
# Mainnet
# OPERATOR_STATE_RETRIEVER_ADDRESS=0xD5D7fB4647cE79740E6e83819EFDf43fa74F8C31
# Holesky
# OPERATOR_STATE_RETRIEVER_ADDRESS=0xB4baAfee917fb4449f5ec64804217bccE9f46C67


# Refers to a live RPC that forms the basis of the simulated chain (Ethereum \ Holesky)
FORK_URL=
# Refers to the rpc endpoint of the simulated chain (A fork of Ethereum \ Holesky)
RPC_URL=http://ethereum:8545
WEBSOCKET_RPC_URL=ws://ethereum:8545
ENVIRONMENT=mainnet 
MAX_OPERATOR_RETRY_ATTEMPTS=10
# The private key that signs the handling node for requests recieved from users
PRIVATE_KEY=0xba35a33f95b443f059e794e4f440d22021400267fff05df4f4d3d2d8eee07215
SERVER_PRIVATE_KEY="efdd319355416ade9c540bf3e703d784de53875212a55331fdf6a694b6339903"
NODE_SELECTOR=http://nodeselector:8080
MAX_TIME_DIFF_SECONDS=300 
CERBERUS_GRPC_PORT=50051
CERBERUS_METRICS_PORT=9081
SIGNER_ENDPOINT=http://signer:50051
# TEST_ACCOUNTS=3
# RUST_BACKTRACE=full
# RUST_LOG=debug